<% layout('layouts/boilerplate') -%>
<div class="container">
    <div>
        <h1><%= article.title %></h1>
        <p><%= article.date.toLocaleDateString() %> - <%= article.author %> </p>
       
    </div>  
    <div class="mb-3">
        <%- article.sanitizedHTML %> 
    </div>
    
    <form action="/articles/<%=article._id%>?_method=DELETE" method="POST">
        <a class="btn btn-primary" href="/articles/<%=article.id%>/edit">Edit Article</a>
        <button class="btn btn-danger">Delete</button>
    </form>
</div>

